<br>
<div class=form-header>Enter New Question</div>
<br>
<div class="new-question-form">
<form method="post" action="/questions" id="new_question">
  <br>
  <input type = "text" name="title" placeholder="Title">
  <br><br><br>
  <input type = "text" name="topic" placeholder="Topic">
  <br><br><br>
  <textarea rows="10" cols="50" name="content" form="new_question" placeholder="What's your programming question? Be specific."></textarea>
  <br><br><br>
  <input class="button-style" type="submit" value="Submit Post!">
</form>
</div>
